
 /* Combinador: Hermano Adyacente */
/* h2 + p{
    color: red;
} */

/* Combinador : General Sibling */
/* h2 ~ p {
    color: red;
} */

/* Combinador : Hijo  */
div > p{
    color: red;
}

/* Combinador : Hijo  */
div  p{
    color: red;
}